<div class="flex flex-col w-2xs items-center m-4">
    <h2 class="text-4xl text-center m-2">Start rocket launch process:</h2>
    <p class="flex bg-white h-20 w-40 rounded-md m-2 justify-center items-center text-2xl">{{countDownStart}}s</p>
    <button (click)="launchCountDown()" *ngIf="countDownCompleted===false"
        class="m-2 bg-white py-3 px-6 rounded-md cursor-pointer hover:bg-gray-100 text-2xl">LAUNCH</button>
    <button (click)="stopRocket()" *ngIf="countDownCompleted===true"
        class="m-2 bg-white py-3 px-6 rounded-md cursor-pointer hover:bg-gray-100 text-2xl">STOP ROCKET!</button>
    <p class="text-2xl" *ngIf="countDownCompleted===true">Launch successfull!</p>
</div>